# ignore everything
*

# but not these files
!.setup
!.setup/*
.setup/.DS_Store
!.README.me
!.gitignore
!.cheatsheat
!.zshrc
!.vimrc
!.profile
!.bashrc
!.eslintrc.js
!.vscode/*
!.volta

# but do ignore these
.setup/bfg.jar
.vscode/extensions

