.vim/
.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.dropbox/
.ssh/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
commonwealthapparel/
dotfiles/

