[push]
	default = current
[user]
	name = Stefan Martin
	email = ste00martin@gmail.com
[color]
	ui = true
[core]
	editor = vim
	ignorecase = false
[github]
	user = ste00martin
[branch]
	autosetuprebase = always
	autoSetupMerge = always
[alias]
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
